* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

:root {
    --colorTextos: #f8f7ff;
    --colorBlancoDifuminado: rgb(248, 247, 255, .75);
    --colorUno: #09203f;
    --colorDos: #003049;
}

body {
    font-family: 'Lato', sans-serif;
}

.contenedores {
    width: 100%;
    margin: auto;
    overflow: hidden;
}



/* HEADER */
.header {
    width: 100%;
    overflow: hidden;
}

.contMenu {
    width: 100%;
    height: 145px;
}

.menu {
    position: fixed;
    width: 100%;
    height: 145px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    background-image: linear-gradient(to right, #243949 100%, #1d496d 0%);
}

.menu a {
    text-align: center;
    text-decoration: none;
    color: var(--colorTextos);
    font-size: 40px;
    font-weight: 300;
    padding: 10px 20px;
}

.menu a:hover {
    text-decoration: underline 1px;
    font-size: 43px;
    padding-bottom: 20px;
    transition: all .3s ease-in;
}

.textos_header {
    width: 100%;
    height: 600px;
    background: linear-gradient(to bottom, rgb(50, 50, 50, .35) 0%, rgb(63, 63, 63, .35) 40%, rgb(28, 28, 28, .35) 150%), linear-gradient(to top, rgba(255, 255, 255, 0.40) 0%, rgba(0, 0, 0, 0.25) 200%),
        url("../../img/blog/blog/imagenHeader.png");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid var(--colorDos);
}

.tituloHeader {
    color: var(--colorBlancoDifuminado);
    font-size: 145px;
    font-weight: 700;
    text-align: center;
}



/* MENU LATERAL */
.contMenuLat {
    position: fixed;
    top: 30%;
    left: 0%;
}

.menuLat {
    width: 0px;
    height: 100%;
    background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255, 255, 255, 0.40) 0%, rgba(0, 0, 0, 0.25) 200%);
    text-align:  center;
    overflow: hidden;
    -webkit-transition: all 0.4s cubic-bezier(0.32, 0.84, 0.75, 0.49);
    transition: all 0.4s cubic-bezier(0.32, 0.84, 0.75, 0.49);
}

.menuLat a {
    display: block;
    text-decoration: none;
    color: var(--colorTextos);
    font-size: 25px;
    font-weight: 300;
    margin: 40px 6px 45px 6px;
    border-top: 2px solid var(--colorBlancoDifuminado);
    border-bottom: 2px solid var(--colorBlancoDifuminado);
    border-radius: 16px;
    padding: 15px 0;
}

.menuLat a:hover {
    text-decoration: underline 1px var(--colorTextos);
    font-size: 27px;
    padding-bottom: 10px;
    transition: all .3s ease-in;
}



/* MOSTRAR MENU */
.mostrarMenuLateral {
    width: 215px;
    box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.5);
    padding: 90px 8px 0px 8px;
}

/* MENU PLEGABLE */
.bars__menu {
    /* transform: translate(-50%, -50%); centrar perfecto */
    width: 30px;
    height: 30px;
    position: fixed;
    z-index: 20;
    top: 30%;
    left: 0.7%;
    transform: scale(3);
    transition: all 550ms;
    cursor: pointer;
}

.bars__menu span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--colorTextos);
    margin-top: 6px;
    transform-origin: 0px 100%;
    transition: all 500ms;
}

.activeline1__bars-menu {
    transform: rotate(405deg) translate(-2px, 1px);
}

.activeline2__bars-menu {
    opacity: 0;
    margin-left: 30px;
}

.activeline3__bars-menu {
    transform: rotate(-405deg) translate(-4px, 2px);
}


/*MOVER MENU PLEGABLE*/
.moverMenu {
    top: 33%;
    left: 5%;
}



/* MAIN */
.contenedor {
    background-color: rgb(107, 111, 88);
    background-image: linear-gradient(rgb(41, 52, 61, .80) 100%, rgba(103, 129, 151, 0.46) 100%);
    text-align: center;
}

.queEncontraras {
    padding: 100px 0;
}

.queEncontraras h2 {
    font-size: 70px;
    color: var(--colorUno);
}

.queEncontraras p {
    padding-top: 30px;
    font-size: 25px;
    color: var(--colorTextos);
}

.imagenes {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-bottom: 120px;
}

.cont_lgjs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    border-style: none;
}

.cont_lgjs_img {
    height: 250px;
    box-shadow: 0 0 6px 4px rgba(0, 0, 0, .5);
}

.cont_lgjs_img img {
    width: 100%;
    height: 100%;
}

.cont_lgjs_txts {
    margin-top: 10px;
}

.cont_lgjs_txts h3 {
    font-size: 40px;
    color: var(--colorUno);
}



/* FOOTER */
footer {
    background-color: #414141;
}

.cont_footer {
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    padding: 40px 0;
    border-bottom: 2px solid var(--colorDos);
    border-top: 2px solid var(--colorTextos);
}

.redes_sociales {
    font-size: 28px;
    color: var(--colorBlancoDifuminado);
}

.redes_sociales i {
    font-size: 85px;
    color: var(--colorDos);
    padding-bottom: 10px;
}

.titulo_final {
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-size: 30px;
    color: #9e9797;
}




/* RESPONSIVE */
@media screen and (max-width:950px) {

    /* HEADER */
    .menu a {
        font-size: 35px;
    }

    .textos_header {
        height: 580px;
        background-position: center;
        background-size: cover;
        background-attachment: local;
    }

    .tituloHeader{
        font-size: 120px;
    }


    /* MENU LATERAL */
    .menuLat {
        width: 0px;
        height: 350px;
    }

    .menuLat a {
        font-size: 25px;
        margin: 0px 0 35px 0;
        padding: 10px 0;
    }

    .menuLat a:hover {
        font-size: 27px;
        padding-bottom: 10px;
    }


    /* MOSTRAR MENU */
    .mostrarMenuLateral {
        width: 210px;
        padding: 105px 15px 0px 15px;
        box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.5);
    }
    


    /* MENU PLEGABLE */
    .bars__menu {
        transform: scale(2.5);
    }

    /*MOVER MENU PLEGABLE*/
    .moverMenu {
        top: 33%;
        left: 11%;
    }


    /* MAIN */
    .queEncontraras {
        width: 90%;
        margin: auto;
    }

    .queEncontraras p {
        font-size: 24px;
    }

    .imagenes {
        padding-bottom: 50px;
    }

    .cont_lgjs {
        width: 70%;
        margin-bottom: 100px;
    }

    .cont_lgjs_img {
        height: 450px;
    }

    .cont_lgjs_txts {
        margin-top: 20px;
    }

    .cont_lgjs_txts h3 {
        font-size: 50px;
    }
}



@media screen and (max-width:750px) {

    /* HEADER */
    .menu a {
        font-size: 30px;
    }

    .textos_header {
        height: 550px;
        background-position: center;
        background-size: cover;
        background-attachment: local;
    }

    .tituloHeader {
        font-size: 90px;
    }


    /* MENU */
    .contMenu {
        position: absolute;
        top: 0%;
        width: 100%;
        height: 65vh;
    }

    .menu {
        position: fixed;
        top: 35%;
        z-index: 10;
        width: 100%;
        height: 65vh;
        margin: auto;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        transform: translateY(100%);
        border-bottom: 2px dashed var(--colorBlancoDifuminado);
        -webkit-transition: all 0.4s cubic-bezier(0.32, 0.84, 0.75, 0.49);
        transition: all 0.4s cubic-bezier(0.32, 0.84, 0.75, 0.49);
    }

    .menu a {
        width: 95%;
        /* margin: auto; */
        font-size: 45px;
        padding: 0px;
        border-top: 2px solid var(--colorBlancoDifuminado);
        border-bottom: 2px solid var(--colorBlancoDifuminado);
        border-radius: 16px;
        padding: 15px 0;
    }

    .menu a:hover {
        text-decoration: underline 1px var(--colorTextos);
        font-size: 50px;
        padding: 0px;
    }


    /* MENU LATERAL */
    .contMenuLat {
        position: fixed;
        z-index: 10;
        width: 100%;
        top: 0%;
    }

    .menuLat {
        width: 100%;
        height: 35vh;
        margin: auto;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-shadow: none;
        transform: translateY(-100%);
        background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255, 255, 255, 0.40) 0%, rgba(0, 0, 0, 0.25) 200%);
        border-top: 2px dashed var(--colorBlancoDifuminado);
        -webkit-transition: all 0.4s cubic-bezier(0.32, 0.84, 0.75, 0.49);
        transition: all 0.4s cubic-bezier(0.32, 0.84, 0.75, 0.49);
    }

    .menuLat a {
        width: 95%;
        margin: 0 auto 40px auto;
        font-size: 45px;
        padding: 15px 0;
    }

    .menuLat a:hover {
        text-decoration: underline 1px var(--colorTextos);
        font-size: 50px;
        padding-bottom: 0px;
    }


    /* MENU PLEGABLE */
    .bars__menu {
        top: 3%;
        left: 90%;
        transform: scale(2.5);
    }

    .activeline2__bars-menu {
        margin-left: -80px;
    }


    /* MOSTRAR MENU */
    .mostrarMenuPrincipal {
        transform: translateY(-54%);
        padding: 100px 0 40px 0;
        box-shadow: inset 0px 0px 100px -20px rgba(0, 0, 0, 0.5);
    }

    .mostrarMenuLateral {
        transform: translateY(185.5%);
        padding: 40px 0 100px 0;
        box-shadow: inset 0px 0px 100px -20px rgba(0, 0, 0, 0.5);
    }

    /*Clase para que no se mueva la pagina una vez el menu desplegado*/
    .overflow {
        overflow: hidden;
    }


    /* MAIN */
    .queEncontraras {
        width: 90%;
        margin: auto;
    }

    .queEncontraras h2 {
        font-size: 67px;
    }

    .cont_lgjs_img {
        height: 400px;
    }

    .cont_lgjs {
        width: 80%;
        margin-bottom: 120px;
    }

    .cont_lgjs_txts {
        margin-top: 15px;
    }

    .cont_lgjs_txts h3 {
        font-size: 45px;
    }


    /* FOOTER */
    .redes_sociales {
        font-size: 25px;
    }

    .redes_sociales i {
        font-size: 80px;
    }

    .titulo_final {
        font-size: 28px;
    }
}



@media screen and (max-width:550px) {

    /* HEADER */
    .textos_header {
        height: 500px;
    }

    .tituloHeader {
        font-size: 80px;
    }


    /* MENU PLEGABLE */
    .bars__menu {
        top: 4%;
        left: 85%;
        transform: scale(2.5);
    }


    /* MAIN */
    .queEncontraras {
        width: 90%;
        margin: auto;
    }

    .queEncontraras h2 {
        font-size: 50px;
    }

    .queEncontraras p {
        font-size: 20px;
    }

    .cont_lgjs_img {
        height: 300px;
    }

    .cont_lgjs {
        width: 80%;
        margin-bottom: 120px;
    }

    .cont_lgjs_txts {
        margin-top: 15px;
    }

    .cont_lgjs_txts h3 {
        font-size: 45px;
    }


    /* FOOTER */
    .cont_footer {
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 60px 0;
        border-bottom: 3px solid var(--colorDos);
    }

    .redes_sociales {
        font-size: 30px;
    }

    .redes_sociales i {
        font-size: 100px;
    }

    .titulo_final {
        font-size: 30px;
    }
}